* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(112, 102, 90, 0.699);
}

.container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
  
    max-width: 80%;
    margin: 200px auto;
    
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    height: 70%;
    width: 100px;;
    margin: 10px;
    position: relative;
    transition: 0.5s ease-in;
     box-shadow: inset 0 0 0 1000px rgba(21, 21, 22, 0.247); 
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    margin: 0;
    opacity: 0;

}

.panel.active {
width: 400px;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.9s ease-in;
}


.explore {
    background-image: url("/img/astronomy-1867616_960_720.jpg");

   
}
.mount {
    background-image: url("/img/mountain-landscape-2031539_960_720.webp");
    color: rgb(255, 255, 255);
   
}
.ocean {
    background-image: url("/img/waves-3473335_960_720.jpg");
    
   
}
.sun {
    background-image: url("/img/sunset.webp");
   
}
.rain {
    background-image: url("/img/rain.jpg");
   
}
.lightning {
    background-image: url("/img/lightning.jpg");
   
}


@media(max-width: 480px) {
.container {
    max-width: 100%;

}


.mount,
.ocean {
    display: none;
}
}